.font-basic{
    font-family: 'Open Sans', sans-serif;
}

.font-header{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #222222;
 }

.card{
    width: 1fr;
    box-shadow: 0 0 5px 0 #c4c4c4;
    padding: 20px;
    margin: 10px;
}

.card:hover{
    background: #f7f7f7;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.center-on-screen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 0 lightgray;
}

.nav *{
    display: inline;
}

.nav li{
    margin: 20px;
}

.nav li a {
    color: black;
    text-decoration: none;
}

.nav-body{
    margin-top: 80px;
}